/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

body {
  background-color: white;
}

.page-header {
  
  background-color: yellow;
}

.logo-discord {
  
}

.logo-container {
  display: flex;
    justify-content: space-between;
    border: 1px dashed black;
    align-items: center;
    height: 100px;
}


.list-item {
  display: inline-block;
  margin: 20px;
}

.info-square:nth-child(odd){
  background-color: white;
}

.info-square:nth-child(even){
  background-color: grey;
}
